.App {
  text-align: center;
}

div#root {
  background: black;
}

h1.mainTitle {
  /* color: white; */
  font-size: 60px;
  text-align: center;
  font-family: serif;
  color: #ffffff;
}

.modal-content {
  width: 350px;
  text-align: center;
  background: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.popup-overlay {
  overflow-x: auto;
}

p.headerPara {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 17px;
  letter-spacing: 0.1rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
}

.headerDiv {
  padding: 40px;
}

.MuiButton-containedSecondary {
  color: #fff;
  background-color: red;
  margin: 10px;
}

img.thumbImg {
  margin: 2px;
  width: 19%;
  margin: 0 auto;
  margin-bottom: 6.75px;
}

@media only screen and (max-width: 600px) {
  img.thumbImg {
    margin: 2px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 6.75px;
  }
}
